/* Enter your custom styles here */
.parent1 {
    background-color: #c0c2ff;
}



tr[data-sap-ui-level="1"] {
    background-color: #f2f2f2
}

tr[data-sap-ui-level="2"] {
    background-color: #fafafa
}